.questions {
  padding-top: 6rem;
  
}

.quest-mobile-only {
  display: none;
}
.quest-tablet {
  display: none;
}

.quest-info {
  width: 50%;
  
}
.quest-info:first-of-type {
    @media (width < 1200px) {
    display: none;

    
  }
} 



.quest-sections {
  display: flex;
  flex: 0 0 100%; 

  
}
.quest-contact {
  display: flex;
  margin-top: 3rem;


}

.quest-contact-item {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding: 2rem;
  
  button {
    border: none;
    background-color: var(--clr-bg);
  }

}
.quest-border {
  border: 1px solid var(--clr-grey-300);
  border-radius: 5%;
 
}

.quest-info {
  padding-bottom: 5rem;
  
}
.qustion-selected {
  padding-left: 24px;
  padding-right: 24px;

}
.questions-list {
  align-items: center;
  justify-content: center;
  
 
  @media (width < 768px) {
    .quest-mobile-only {
      padding-top: 2rem;
      display: flex;
      justify-content: center;
    }    
    .quest-tablet {
      display: none;
    }
  }
  @media (width < 1200px) {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    width: 80lvw;
    .quest-tablet {
      justify-content: space-around;
    }
   
  }
  @media (width > 1200px) {
    .quest-mobile {
      display: none;
    }
    .quest-tablet {
      display: none;
    }
    
  }
}
.quest-mobile {
  text-align: center;

}

.questions-list-items {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  text-overflow: clip;
  box-shadow: 0 5px 5px #00000028;
  p {
    font-size: 16px;
    font-weight: 700;
  }
  img {
    width: 64px;
    justify-content: right;
  }
}
.right-just {
  justify-content: right;
}
